# OpenFOAM related:
src/**/lnInclude
src/**/Make/linux64*
tests/**/*/Make/linux64*
tests/**/*/Make/linuxArm64*
tests/**/dynamicCode
src/ODE_DLB/Make/options
src/**/*/lnInclude
src/**/*/Make/linux64*
src/**/*/Make/linuxArm64*
applications/solvers/**/*/Make/linux64*
applications/utilities/**/Make/linux64*
applications/solvers/**/*/Make/linuxArm64*
applications/utilities/**/Make/linuxArm64*
etc/codeTemplates/dynamicCode/basicChemistryModel

tutorials/**/0
tutorials/**/[1-9]*
tutorials/**/[0-9]*.[0-9]*
tutorials/**/processor*
tutorials/**/dynamicCode
tutorials/**/constant/polyMesh
tutorials/**/pyJac
tutorials/multicomponentFluid/shearlayer_DLB_pyJac/constant/foam/*
tests/validation/pyjacTests/PSRTest/testCase/0
utilities/**/CMake*
utilities/**/cmake*
utilities/**/Makefile

# pyJac related
pyJac/build/
utilities/mechanisms/**/build

#Visual studio code configs
.vscode

*.dep

# Visual studio configs
.vscode

# Temporary files
*~

# General C++ related:

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app


*.bin
*.dat
log.*
